<div class="container">
<form action="/users/save" method="post">

<div class="row"> 

 <div class="col-6">
<label>Nome do Produto:</label>
<input type="text" class="form-control" name="name" id="nome">
</div>

<div class="col-6">
<label>Nome do Fornecedor:</label>
<input type="text" class="form-control" name="name" id="fornecer">
</div>

<div class="col-2">
    <label>Data de Compra: </label>
    <input type="valor" class="form-control" name="datacompra"
    id="datacompra">
</div>
<div class="col-2">
    <label>Valor da Compra: </label>
    <input type="valor" class="form-control" name="valorcompra"
    id="valorcompra">
</div>

<div class="col-2">
    <label>Valor da venda: </label>
    <input type="valor" class="form-control" name="valorvenda"
    id="valorvenda">

</div>
</div>

<div class="col-4">
    <label for="">Categoria</label>
    <select class="form-control" name="func">
        <option value="Acessórios de Moda">Acessórios de Moda</option>
        <option value="Perfumaria ou Cosmetico">Perfumaria ou Cosmetico</option>
         <option value="Roupas">Roupas</option>
        
    </select>
    </div>
</div>
<br>
<button type="submit" class="btn btn-primary">Enviar</button>

</form>
</div>